<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>preben</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body class="page-index">
  <header class="site-header">
    <div class="site-header-inner">
      <div class="brand">preben</div>
      <nav class="main-nav">
        <a href="#works">works</a>
        <a href="#about">about</a>
        <a href="#contact">contact</a>
      </nav>
    </div>
  </header>

<!-- Write here -->

</body>
</html>
